<h1>Hola {{name}}!</h1>
<h2>
  Ejercicio:
</h2>

<h3>
  Desarrollar una aplicación web usando el framework de Angular (5+) para capturar el domicilio de un cliente.
</h3>
<p>
  <span class="bold">Parte 1:</span> &nbsp;
  El cliente deberá proporcionar su nombre y su código postal. Atravez de un REST API (url abajo en azul) la aplicación deberá obtener el estado, municipio y un listado de colonias que corresponden a dicho código postal.
  <br><br> <span class="link">https://api-codigos-postales.herokuapp.com/v2/codigo_postal/[codigopostal]</span>
</p>
<p>
  <span class="bold">Parte 2:</span>&nbsp;
  El sistema mostrará en pantalla la información obtenida en la Parte 1 y solicitará al usuario la selección de una colonia. Asi como tmb pedirá Calle y Número. Cuando el usuario haya proporcionado todos estos datos, la aplicación aparecerá un botón con la leyenda Guardar. 
</p>
<p>
  <span class="bold">Parte 3:</span>&nbsp;
  Al dar click al botón de Guardar, la información capturada se guardará en la sesion y la aplicación navegará a una nueva ruta en la cual se mostrará la información de la dirección capturada en la ruta anterior.
</p>
<p>
<span class="bold">Parte 4:</span>&nbsp;
  Dar estilo a la aplicación implementando algun UI system. (Se podrá importar librerias de estilos como es bootstrap o material).
</p>